body {
  margin: auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 1400px;
  height: 100vh;
  border: 1px solid red;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 15px;
  margin-bottom: 0;
}

h2 {
  font-weight: lighter;
}

.callToAction h1 {
  margin-top: 25px;
  font-size: 1.75rem;
}
